  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  div.polaroid {
    margin: 0 10px 25px 0;
    float: left;
    width: 100%;
    min-width: 350px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .comment {
      height: auto;
      padding: 15px;
      background-color: rgb(233, 50, 80);
      color: rgb(252, 249, 249);
      text-align: center;
      font-size: 25px;
  }
  
  div.container {
    text-align: left;
  }

  .labels {
    margin: 0 20px;
    font-size: 20px;
  }

  .fields {
    margin: 10px 20px;
    padding:8px;
    width:20%;
    min-width: 200px;
    display:block;
    border-bottom:1px solid #ccc;
    border:1px solid #ccc;
    border-radius:8px
  }

  .commentField {
    margin: 10px 20px;
    padding:8px;
    min-width: 200px;
    display:block;
    border-bottom:1px solid #ccc;
    border:1px solid #ccc;
    border-radius:8px;
    width: 80%!important;
    height: 100px;
  }

  .button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:19px;
    margin: 10px 0 10px 15px;
    transition-duration: 0.1s;
    cursor: pointer;
  }
  
  .submitButton {
    background-color: rgb(233, 50, 80);
    color: white;
  }
  
  .submitButton:hover {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(233, 50, 80);
  }

  .names {
    margin: 0 20px;
    color: rgb(233, 50, 80);
    font-size: 20px;
  }

  .time {
    color: rgb(233, 50, 80);
    font-size: 15px;
    font-style: italic;
  }

  .commentText {
    margin: 0 20px 20px;
    padding: 10px;
    background-color:rgb(236, 234, 234);
    color:rgb(105, 105, 105);
    font-size: 15px;
  }

  hr {
    margin: 20px 30px;
    border-radius: 50%;
    border: 1px solid rgb(233, 50, 80);
  }

  .nowrap {
    white-space: nowrap;
}

  @media screen and (max-height: 320px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {
  .container2 {
      text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .sidenav {
      text-align:center;
  }
}